/* Back Button */
.primaryColor.pl-0.nav-link {
    color: black!important;
}

/* Login Button */
.btn.btn-outline-primary.my-2.my-sm-0.primaryColor {
    border-color: black!important;
    color: black!important;
    background-color: #ffe652!important;
}
.btn.btn-outline-primary.my-2.my-sm-0.primaryColor:hover {
    border-color: black!important;
    color: black!important;
    background-color: white!important;
}

/* Sign Up Button */
.btn.btn-primary.primaryColor {
    border-color: black!important;
}
.btn.btn-primary.primaryColor:hover {
    border-color: black!important;
    color: black!important;
}

/* View Details Buttonn */
.primaryColor.m-0.p-0.btn.btn-link {
    color: black!important;
}

a.primaryColor {
    color: black;
}

.modal-content {
    height: auto;
    border: initial;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    margin: auto;
    width: 100%;
    margin-top: 0!important;
}




/* FONTS */


/* Regular */
@font-face {
    font-family: 'Apercu';
    src: url('https://raw.githubusercontent.com/USERNAME/REPO_NAME/BRANCH_NAME/fonts/apercu/Apercu-Pro-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Bold */
@font-face {
    font-family: 'Apercu';
    src: url('https://raw.githubusercontent.com/USERNAME/REPO_NAME/BRANCH_NAME/fonts/apercu/Apercu-Pro-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

/* Italic */
@font-face {
    font-family: 'Apercu';
    src: url('https://raw.githubusercontent.com/USERNAME/REPO_NAME/BRANCH_NAME/fonts/apercu/Apercu-Pro-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

/* Bold Italic */
@font-face {
    font-family: 'Apercu';
    src: url('https://raw.githubusercontent.com/USERNAME/REPO_NAME/BRANCH_NAME/fonts/apercu/Apercu-Pro-Bold-Italic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

body {
    font-family: 'Apercu';
}





/* Forms */

/* Footer Form */

.kRWymP > * {
    max-width: 100%!important;
    width: 100%;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    grid-template-rows: auto auto;
}

form > div {
    display: grid;
    flex-direction: column;
    row-gap: 0px;
    column-gap: 20px;
    width: 200%!important;
}

.form-group.mr-1.w-100 {
    grid-column: 2;
    grid-row: 1;
}

.d-flex.flex-column {
    row-gap: 8px;
    column-gap: 8px;
    margin-top: -80px;
    margin-left: -10px;
    padding-right: 15px;
}

.d-flex {
    grid-column: 2;
    grid-row: 2;
    justify-content: center;
}



— — — 



/* Style for "First Name" form group */
#_first_name::placeholder {
    color: transparent;
}

.form-group:nth-child(1) {
    position: relative;
}

.form-group:nth-child(1)::before {
    content: "First Name";
    color: #a9a9a9;
    position: absolute;
    top: 45%;
    left: 12px;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 14px;
}

/* Style for "Last Name" form group */
#_last_name::placeholder {
    color: transparent;
}

.form-group:nth-child(2) {
    position: relative;
}

.form-group:nth-child(2)::before {
    content: "Last Name";
    color: #a9a9a9;
    position: absolute;
    top: 45%;
    left: 12px;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 14px;
}

/* Style for "Email" form group */
#_email::placeholder {
    color: transparent;
}

.form-group:nth-child(3) {
    position: relative;
}

.form-group:nth-child(3)::before {
    content: "Email";
    color: #a9a9a9;
    position: absolute;
    top: 45%;
    left: 12px;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 14px;
}

— — —

.mb-4.ml-1.btn.btn-primary {
    border: 1px solid black;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 230, 82);
    width: auto;
    border-radius: 10px;
    height: 48px;
    transition: all .2s;
}



