/* Back Button */
.primaryColor.pl-0.nav-link {
    color: black;
}

/* Login Button */
.btn.btn-outline-primary.my-2.my-sm-0.primaryColor {
    border-color: black;
    color: black;
    background-color: #ffe652;
}
.btn.btn-outline-primary.my-2.my-sm-0.primaryColor:hover {
    border-color: black;
    color: black;
    background-color: white;
}

/* Sign Up Button */
.btn.btn-primary.primaryColor {
    border-color: black;
}
.btn.btn-primary.primaryColor:hover {
    border-color: black:
    color: black!important;
}

/* View Details Buttonn */
.primaryColor.m-0.p-0.btn.btn-link {
    color: black;
}

