/* Back Button */
.primaryColor.pl-0.nav-link {
    color: black;
}

/* Login Button */
.btn.btn-outline-primary.my-2.my-sm-0.primaryColor {
    border-color: black!important;
    color: black!important;
    background-color: #ffe652!important;
}
.btn.btn-outline-primary.my-2.my-sm-0.primaryColor:hover {
    border-color: black!important;
    color: black!important;
    background-color: white!important;
}
